@import '@shopify/polaris/build/esm/styles.css';

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(180deg, #f2f9ff 0%, #ffffff 100%);
}

a {
  color: inherit;
}
