openapi: 3.0.3
info:
  title: LeakWatch API
  version: 1.1.0
servers:
  - url: https://app.leakwatch.io
  - url: https://staging.leakwatch.io
paths:
  /v1/health:
    get:
      summary: Health check
      responses:
        '200':
          description: OK

  /v1/shopify/auth/start:
    get:
      summary: Start Shopify OAuth
      security: []
      parameters:
        - in: query
          name: shop
          required: true
          schema:
            type: string
      responses:
        '302':
          description: Redirect to Shopify authorize URL

  /v1/shopify/auth/callback:
    get:
      summary: Shopify OAuth callback
      security: []
      responses:
        '302':
          description: Redirect to embedded app

  /v1/shopify/webhooks/app-uninstalled:
    post:
      summary: Shopify app-uninstalled webhook
      security: []
      parameters:
        - in: header
          name: x-shopify-hmac-sha256
          required: true
          schema:
            type: string
        - in: header
          name: x-shopify-shop-domain
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Webhook accepted

  /v1/shopify/webhooks/shop-update:
    post:
      summary: Shopify shop/update webhook
      security: []
      parameters:
        - in: header
          name: x-shopify-hmac-sha256
          required: true
          schema:
            type: string
        - in: header
          name: x-shopify-shop-domain
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Webhook accepted

  /v1/auth/me:
    get:
      summary: Resolve current auth context
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Auth context

  /v1/shops:
    get:
      summary: List shops accessible by current user/org
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Shop list

  /v1/shops/{shopId}:
    get:
      summary: Get shop detail
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: shopId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Shop detail
        '404':
          description: Shop not found

  /v1/shops/{shopId}/settings:
    get:
      summary: Get shop settings (currency/timezone/contactEmail)
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: shopId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Shop settings
        '404':
          description: Shop not found
    patch:
      summary: Update shop settings
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: shopId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                currency:
                  type: string
                timezone:
                  type: string
                contactEmail:
                  type: string
                  format: email
      responses:
        '200':
          description: Updated shop settings
        '404':
          description: Shop not found

  /v1/shops/{shopId}/findings:
    get:
      summary: List findings for a shop
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: shopId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Finding list

  /v1/shops/{shopId}/summary:
    get:
      summary: Get shop-level dashboard summary metrics
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: shopId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Shop summary
        '404':
          description: Shop not found

  /v1/billing/current:
    get:
      summary: Get current plan, limits, and usage
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: shopId
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Current billing status
        '404':
          description: Organization not found

  /v1/billing/subscribe:
    post:
      summary: Subscribe to a plan and return confirmation URL
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: plan
          required: false
          schema:
            type: string
            enum:
              - FREE
              - STARTER
              - PRO
      responses:
        '201':
          description: Subscription accepted
        '404':
          description: Organization not found

  /v1/billing/webhooks:
    post:
      summary: Process billing webhook updates
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: Billing webhook processed
        '404':
          description: Invalid billing webhook payload

  /v1/orgs/{orgId}/shops:
    get:
      summary: List shops inside agency org workspace
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: orgId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Agency org shop list
        '401':
          description: Cross-org access denied

  /v1/orgs/{orgId}/summary:
    get:
      summary: Get organization-level agency summary
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: orgId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Agency org summary
        '401':
          description: Cross-org access denied

  /v1/orgs/{orgId}/connect-codes:
    post:
      summary: Create agency connect code
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: orgId
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Connect code created
        '401':
          description: Cross-org access denied

  /v1/shops/{shopId}/connect-code:
    post:
      summary: Attach shop with connect code
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: shopId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
      responses:
        '201':
          description: Shop attached to target org
        '401':
          description: Attach denied

  /v1/shops/{shopId}/installed-apps/sync:
    post:
      summary: Sync installed app snapshot to tracked vendors
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: shopId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - installedApps
              properties:
                installedApps:
                  type: array
                  items:
                    type: string
                source:
                  type: string
                  maxLength: 100
      responses:
        '201':
          description: Installed apps snapshot synced
        '404':
          description: Shop not found

  /v1/shops/{shopId}/documents:
    get:
      summary: List documents for a shop
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: shopId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Document list

    post:
      summary: Create document + initial version and return presigned upload URL
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: shopId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDocumentUploadRequest'
      responses:
        '201':
          description: Upload initialized

  /v1/documents:
    get:
      summary: List documents for current org (optionally filter by shop)
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: shopId
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Document list

  /v1/documents/{id}:
    get:
      summary: Get document detail
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Document detail
        '404':
          description: Document not found

  /v1/documents/{documentId}/versions/{versionId}/complete:
    post:
      summary: Mark upload complete and enqueue ingestion for a specific version
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: documentId
          required: true
          schema:
            type: string
        - in: path
          name: versionId
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Upload completion accepted
        '404':
          description: Document version not found

  /v1/documents/{documentId}/versions/{versionId}/download:
    get:
      summary: Get presigned download URL for a specific original document version
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: documentId
          required: true
          schema:
            type: string
        - in: path
          name: versionId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Presigned document download URL
        '404':
          description: Document version not found

  /v1/documents/{id}/complete:
    post:
      summary: Mark latest document version complete (legacy compatibility)
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Upload completion accepted
        '404':
          description: Document not found

  /v1/findings:
    get:
      summary: List findings for current org (optionally filter by shop)
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: shopId
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Finding list

  /v1/findings/{id}:
    get:
      summary: Get finding detail
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Finding detail
        '404':
          description: Finding not found

  /v1/findings/{findingId}/dismiss:
    post:
      summary: Dismiss a finding
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: findingId
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Finding dismissed
        '404':
          description: Finding not found

  /v1/findings/{findingId}/actions:
    post:
      summary: Create an action request draft for a finding
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: findingId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateActionRequest'
      responses:
        '201':
          description: Action request draft created
        '404':
          description: Finding not found

  /v1/action-requests:
    get:
      summary: List action requests (optionally filter by shop)
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: shopId
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Action request list

  /v1/action-requests/inbound-parse/metrics:
    get:
      summary: Get inbound parsing quality metrics for manual feedback labels
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: shopId
          required: false
          schema:
            type: string
        - in: query
          name: windowDays
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 90
      responses:
        '200':
          description: Inbound parse metrics

  /v1/action-requests/{id}:
    get:
      summary: Get action request detail
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Action request detail
        '404':
          description: Action request not found

    patch:
      summary: Update draft action request
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateActionRequest'
      responses:
        '200':
          description: Action request updated
        '404':
          description: Draft action request not found

  /v1/action-requests/{id}/approve:
    post:
      summary: Approve action request and enqueue SEND_EMAIL job
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Action request approved and run queued
        '404':
          description: Action request not found

  /v1/action-requests/{id}/status:
    post:
      summary: Update manual lifecycle status (WAITING_REPLY or RESOLVED)
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateActionStatus'
      responses:
        '201':
          description: Action request status updated
        '404':
          description: Action request not found

  /v1/actions/{findingId}/approve:
    post:
      summary: Legacy approval endpoint by findingId (backward compatibility)
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: findingId
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Action request approved
        '404':
          description: Finding action request not found

  /v1/evidence-packs/{id}/download:
    get:
      summary: Get presigned download URL for evidence pack
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Download URL generated
        '404':
          description: Evidence pack not found

  /v1/reports:
    get:
      summary: List reports (optionally filter by shop and period)
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: shopId
          required: false
          schema:
            type: string
        - in: query
          name: period
          required: false
          schema:
            type: string
            enum:
              - WEEKLY
              - MONTHLY
      responses:
        '200':
          description: Report list

  /v1/reports/{id}:
    get:
      summary: Get report detail
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Report detail
        '404':
          description: Report not found

  /v1/reports/generate:
    post:
      summary: Enqueue report generation for a shop and period
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: shopId
          required: false
          schema:
            type: string
        - in: query
          name: period
          required: false
          schema:
            type: string
            enum:
              - WEEKLY
              - MONTHLY
        - in: query
          name: force
          required: false
          schema:
            type: boolean
      responses:
        '201':
          description: Report generation queued
        '403':
          description: Report quota exceeded
        '404':
          description: Shop not found

  /v1/reports/{id}/export:
    get:
      summary: Export report summary as csv, json, or pdf payload
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: format
          required: false
          schema:
            type: string
            enum:
              - csv
              - json
              - pdf
      responses:
        '200':
          description: Export payload generated
        '404':
          description: Report not found

  /v1/reports/{id}/share-link:
    post:
      summary: Create temporary share link token for report
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Share link generated
        '404':
          description: Report not found

  /v1/reports/{id}/share-link/revoke:
    post:
      summary: Revoke latest share link token for report
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Share link revoked
        '404':
          description: Report not found

  /v1/reports/shared/{token}:
    get:
      summary: Read report via public share token
      security: []
      parameters:
        - in: path
          name: token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Shared report detail
        '403':
          description: Invalid or expired share token
        '404':
          description: Report not found

  /v1/reports/shared/{token}/export:
    get:
      summary: Export report via public share token
      security: []
      parameters:
        - in: path
          name: token
          required: true
          schema:
            type: string
        - in: query
          name: format
          required: false
          schema:
            type: string
            enum:
              - csv
              - json
              - pdf
      responses:
        '200':
          description: Shared export payload generated
        '403':
          description: Invalid or expired share token
        '404':
          description: Report not found

  /v1/mailgun/webhooks/events:
    post:
      summary: Handle Mailgun delivery/failure webhook
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: Webhook event processed
        '401':
          description: Invalid webhook signature

  /v1/mailgun/webhooks/inbound:
    post:
      summary: Handle Mailgun inbound reply webhook
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: Inbound webhook processed
        '401':
          description: Invalid webhook signature

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    StandardError:
      description: Standard API error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      required:
        - statusCode
        - errorCode
        - message
        - path
        - timestamp
      properties:
        statusCode:
          type: integer
        errorCode:
          type: string
          description: Stable machine-readable code
          example: FILE_TOO_LARGE
        message:
          type: string
          description: Human-readable error message
          example: FILE_TOO_LARGE
        path:
          type: string
          example: /v1/shops/shop_123/documents
        timestamp:
          type: string
          format: date-time

    CreateDocumentUploadRequest:
      type: object
      required:
        - fileName
        - mimeType
        - byteSize
        - sha256
      properties:
        fileName:
          type: string
        mimeType:
          type: string
        byteSize:
          type: integer
        sha256:
          type: string
        vendorHint:
          type: string

    CreateActionRequest:
      type: object
      required:
        - type
        - toEmail
      properties:
        type:
          type: string
          enum:
            - REFUND_REQUEST
            - CANCEL_REQUEST
            - DOWNGRADE_REQUEST
            - CLARIFICATION
        toEmail:
          type: string
          format: email
        ccEmails:
          type: array
          items:
            type: string
            format: email
        subject:
          type: string
          maxLength: 200
        bodyMarkdown:
          type: string
          maxLength: 10000

    UpdateActionRequest:
      type: object
      properties:
        toEmail:
          type: string
          format: email
        ccEmails:
          type: array
          items:
            type: string
            format: email
        subject:
          type: string
          maxLength: 200
        bodyMarkdown:
          type: string
          maxLength: 10000

    UpdateActionStatus:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum:
            - WAITING_REPLY
            - RESOLVED
